<div class="revisions">
  <h3>Revisions</h3>
  <div class="row">
    <div class="cell header">
      Version
    </div>
    <div class="cell header">
      Date
    </div>
    <div class="cell header">
      Description
    </div>
    <div class="cell header">
      Revised by
      </div>
    <div class="cell header">
      Approved by
    </div>
  </div>
    {% for version in versions %}
    <div class="row">
      <div class="cell">
        v{{version.version}}
      </div>
      <div class="cell">
        {{version.date | date(format="%B %d, %Y")}}
      </div>
      <div class="cell">
        {{version.description}}
      </div>
      <div class="cell">
        {{version.revised_by}}
      </div>
      <div class="cell">
        {{version.approved_by}}
      </div>
    </div>
    {% endfor %}
  </div>
</div>