{% import 'macros/people.html' as macros_people -%}
<div class="revisions">
  <h3>Revisions</h3>
  <div class="table-responsive">
  <table>
    <tr><th>Version
      </th><th>Date
      </th><th>Description
      </th><th>Revised by
      </th><th>Approved by
    </th></tr>

    {% for version in versions %}
    <tr>

      <td>
        v{{version.version}}
      </td>
      <td>
        {{version.date | date(format="%b %d, %Y")}}
      </td>
      <td>
        {{version.description | default(value="")}}
      </td>
      <td>
        {% if version.revised_by %}{{ macros_people::person_link(name=version.revised_by, members=config.extra.policyteam.members | default(value=[])) }}{% endif %}
      </td>
      <td>
        {% if version.approved_by %}{{ macros_people::person_link(name=version.approved_by, members=config.extra.policyteam.members | default(value=[])) }}{% endif %}
      </td>
  </tr>
    {% endfor %}

  </table>
  </div>
</div>
