{% set page_tax = page.taxonomies %}
{% if page_tax %}
<div class="satisfies">
  <span class="satisfies-label">Framework Coverage</span>
  <div class="satisfies-cards">
    {% for key, terms in page_tax %}
    <div class="satisfies-card">
      <span class="satisfies-framework">{{ key }}</span>
      <div class="satisfies-tags">
        {% for term in terms %}
        <span class="satisfies-tag">{{ term }}</span>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
