<div class="">
    <table class="table" id="version-summary">
    <thead>
        <tr><th colspan="4">Version {{.Page.Params.version }} Summary</th></tr>
        <tr>
            <th>Version</th>
            <th>Date</th>
            <th>Change Summary</th>
            <th>Reviewed</th>
        </tr>
        </thead>
        <tbody>
        {{ $last_review_date := .Page.Params.last_review_date }}
        {{ with .Page.Params.majorRevisions -}}
            {{ range first 1 . }}
            <tr>
                <td>{{ .version }}</td>
                <td>{{ ( time.Format "January 2, 2006" .date) }}</td>
                <td style="text-align: left;">{{ .comment }}</td>
                <td>{{ ( time.Format "January 2, 2006" $last_review_date) }}</td>
            </tr>
            {{ end }}
        {{ end }}
        </tbody>

    </table>

</div>