{% macro math() %}
  {% if page.extra.math or section.extra.math or config.extra.math %}
    {% if config.extra.library and config.extra.library == "mathjax" %}
      <script>
      // https://mathjax.github.io/MathJax-demos-web/convert-configuration/convert-configuration.html
      window.MathJax = {
      	tex: {
      	inlineMath: [['$', '$'], ['\\(', '\\)']],
      	displayMath: [['$$', '$$'], ['\[\[', '\]\]']],
      	processEscapes: true,
      	processEnvironments: true,
      	},
      	options: {
      	skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
      	}
      };
      </script>
      <script  async defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" id="MathJax-script"></script>
    {% else %}
      <!-- KaTeX (self-hosted; no third-party CDN) -->
      <link rel="stylesheet" href="{{ get_url(path='katex/katex.min.css') | safe }}">
      <script defer src="{{ get_url(path='katex/katex.min.js') | safe }}"></script>
      <script defer src="{{ get_url(path='katex/contrib/auto-render.min.js') | safe }}" onload="renderMathInElement(document.body, {delimiters: [{left: '$$', right: '$$', display: true}, {left: '$', right: '$', display: false}]});"></script>
    {% endif %}
  {% endif %}
{% endmacro %}
