{% extends "index.html" %}
{% block title %} {{ config.title }} | {{ section.title }} {% endblock title %}
{% block content %}
{% set fp = config.extra.frontpage %}
<section class="frontpage">
  <div class="banner">
    {% block banner %}
    <div class="title">
      <h1>{{ section.title |default(value=config.title) }}</h1>
    </div>
    {% if fp.lead  %}<div class="lead">{{fp.lead}}</div>{%endif%}
    {% if fp.cta  %}
    <div class="cta">
      <a class="button call-to-action" href="{{fp.cta.url}}" role="button">{{fp.cta.text}}</a>
    </div>
      
      {%endif%}
    </div>
    {% endblock banner %}
    {% if fp.cards %}
    <div class="cards">
      {% for card in fp.cards %}
      <div class="card">
        {% if card.image %}
        <figure>
          <img src="{{card.image}}" alt="{{card.title}}" />
        </figure>
        {% endif %}
        <p class="title">{{card.title}}</p>
        <p class="text">
          {{card.text | markdown(inline=true) | safe}}
          </p>  
          <p class="read-more"><a href="#">
            Read more <span class="sr-only">about this is some title</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </a></p>
      </div>
      {% endfor %}
    </div>
    {% endif %}
    <div class="content">
      {{ section.content | safe }}
    </div>
  </div>
</section>


{% endblock content %}

