{% macro input(label, type="text") %}
    <label>
        {{ label }}
        <input type="{{type}}" />
    </label>
{% endmacro input %}

{% macro render_nav_tree(start_path, depth=2, level=0, render_root=true) %}
{% set section = get_section(path=start_path) %}
{% if section.pages or section.subsections %}

{% if render_root or level > 0 %}
<input class="tree-toggle" type="checkbox" id="{{ section.title | slugify }}"
{% if current_path is starting_with(section.path) %}checked{% endif %}
/>
{% else %}
<label class="" for="{{ section.title | slugify }}">{{ section.title }}</label>
{% endif %}
{% if render_root or level > 0 %}
<label class="tree-toggle-label" for="{{ section.title | slugify }}">{{ section.title }}</label>
{% endif %}
  <ul class="subtree level-{{ level }}" id="{{ section.title | slugify }}">
  {% for page in section.pages %}
      <li {% if current_path == page.path %}class="active"{% endif %}>
          <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
      </li>
  {% endfor %}

  {% if depth > 0 and section.subsections %}
    {% for subsection in section.subsections %}
      {{ self::render_nav_tree(start_path=subsection, depth=depth-1, level=level+1) }}
    {% endfor %}
  {% endif %}
  </ul> 
{% endif %}
{% endmacro render_nav_tree %}